<div class="pp ">
    <div class="teacher-header">

        <!-- <div class="teacher-img">
            <img src="grey-employee-avatar-icon-vector-32550065.avif" alt="" class="profile-img">
        </div> -->


        <div class="teacher-info">
            <label class="teacher-name">Name :{{teacher?.name}}</label>
            <span>Email : {{teacher?.email}}</span>
            <span>Phone : {{teacher?.phone}}</span>

        </div>



    </div>
    <div class="teacher-body  row ">

        <div class="card" style="width: 18rem;">
            <img src="assets/grade.png" class="card-img-top  img-card" alt="...">
            <div class="card-body">
                <h5 class="card-title">Grades</h5>

                <a href="#" class="btn " routerLink="/teacherGrade" routerLinkActive="active">Click Here</a>
            </div>
        </div>

        <div class="card " style="width: 18rem;">
            <img src="assets/assignment.jpeg" class="card-img-top img-card" alt="...">
            <div class="card-body">
                <h5 class="card-title">Assignments</h5>

                <a href="#" class="btn" routerLink="/teacherAssignment" routerLinkActive="active">Click Here</a>
            </div>
        </div>
        <div class="card  " style="width: 18rem;">
            <img src="assets/attendance.jpeg" class="card-img-top img-card" alt="...">
            <div class="card-body ">
                <h5 class="card-title">Attendance</h5>

                <a href="#" class="btn" routerLink="/teacherAttendance" routerLinkActive="active">Click Here</a>
            </div>
        </div>
      

    </div>
</div>