<div class="container">
  <div class="card mt-2">
    <div class="card-header table-header">
      <div class="table-title">
        <h5>Assignment</h5>
      </div>
      <div>
        <button type="button" class="btn btn-secondary" data-bs-toggle="modal"
          data-bs-target="#addAssignmentModal">Add <i class="fa-solid fa-plus" style="color: #ffffff;"></i></button>
      </div>
    </div>

    <div class="card-body">
      <table class="table table-striped">
        <thead>
          <tr>
            @for (col of assighnmentTableColumns; track col) {
            <th>{{ col }}</th>
            }
          </tr>
        </thead>
        <tbody>
          @for (item of teacherassignment; track item; let i = $index) {
          <tr>
            <td>{{ i + 1 }}</td>
            <td>{{ item.subjectName }}</td>
            <td>{{ item.description }}</td>
            <td>{{ item.dueDateSub | date: 'EEE MMM d yyyy' }}</td>
            <td>{{ item.class }}</td>
            <td>{{ item.gradeLevel }}</td>
          </tr>
          }
        </tbody>
      </table>
    </div>
  </div>

  <div class="modal modal-lg fade" id="addAssignmentModal" tabindex="-1" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Save Assignment</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form [formGroup]="Assignmentform">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                <label for="class" class="form-label">subject</label>
                <select id="class" class="form-select" formControlName="subjectId">
                  @for (item of subject; track item) {
                  <option [value]="item.Id">{{ item.Name }}</option>
                  }
                </select>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                <label for="dueDate" class="form-label">Due Date</label>
                <input type="date" id="dueDate" class="form-control" formControlName="dueDateSub">
              </div>

              <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                <label for="class" class="form-label">Class</label>
                <select id="class" class="form-select" formControlName="classId">
                  @for (item of class; track item) {
                  <option [value]="item.Id">{{ item.Name }}</option>
                  }
                </select>
              </div>

              <div class="col-lg-4 col-md-4 col-sm-12 mb-2">
                <label for="gradeLevel" class="form-label">Grade Level</label>
                <select id="gradeLevel" class="form-select" formControlName="gradeLevelId">
                  @for (item of gradeLevel; track item) {
                  <option [value]="item.Id">{{ item.Name }}</option>
                  }
                </select>
              </div>

              <div class="col-12">
                <label for="description" class="form-label">Description</label>
                <textarea id="description" rows="1" class="form-control" formControlName="description"
                  placeholder="Enter description"></textarea>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button #closeButton type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" [disabled]="!Assignmentform.valid" (click)="saveassignment()">Save changes</button>
        </div>
      </div>
    </div>
  </div>
</div>