

<div class="pp ">
    <div class="teacher-header"  >

        <!-- <div class="teacher-img">
            <img src="grey-employee-avatar-icon-vector-32550065.avif" alt="" class="profile-img">
        </div> -->


        <div class="teacher-info" >
            <label class="teacher-name">Name :{{parent?.name}}</label>
            <span>Email : {{parent?.email}}</span>
            <span>Phone : {{parent?.phone}}</span>
            
        </div>



    </div>
    <div class="teacher-body  row ">

        <div class="card  " style="width: 18rem;">
            <img src="assets/grade.png" class="card-img-top  img-card" alt="...">
            <div class="card-body">
                <h5 class="card-title">Grades</h5>

                <a href="#" class="btn " routerLink="/parentGrade" routerLinkActive="active">Click Here</a>
            </div>
        </div>

        <div class="card" style="width: 18rem;">
            <img src="assets/assignment.jpeg" class="card-img-top img-card" alt="...">
            <div class="card-body">
                <h5 class="card-title">Assignments</h5>
                <a href="#" class="btn "   routerLink="/parenAssignment" routerLinkActive="active">Click Here</a>
            </div>
        </div>
        <div class="card " style="width: 18rem;">
            <img src="assets/attendance.jpeg" class="card-img-top img-card" alt="...">
            <div class="card-body ">
                <h5 class="card-title" >Attendance</h5>

                <a href="#" class="btn"  routerLink="/parentAttendance" routerLinkActive="active"  >Click Here</a>
            </div>
        </div>
        <!-- <div class="card " style="width: 18rem;">
            <img src="assets/stu2.png" class="card-img-top img-card" alt="...">
            <div class="card-body ">
                <h5 class="card-title">EduTrack</h5>
                <a href="#" class="btn ">Click Here</a>
            </div>
        </div> -->

    </div>
</div>

