<div class="container">
    <div class="card">
    <div class="card-body">
      <a href="#" class="btn btn-primary" routerLink="/adminParent" routerLinkActive="active">Add Parent</a>
    </div>
  </div>
  <div class="card" >
    <div class="card-body">
      <a href="#" class="btn btn-primary" routerLink="/adminTeacher" routerLinkActive="active">Add Teacher</a>
    </div>
  </div>
  <div class="card" >
    <div class="card-body">
      <a href="#" class="btn btn-primary" routerLink="/adminStudent" routerLinkActive="active">Add Student</a>
    </div>
  </div>

</div>